.DS_Store
html/.vscode/
.vscode/
.idea/

html/projects/sliderJS/*
!html/projects/sliderJS/preview.html

html/projects/jsGame/*
!html/projects/jsGame/preview.html

html/projects/phpGame/*
!html/projects/phpGame/preview.html

html/projects/quiz_manager/*
!html/projects/quiz_manager/preview.html

html/projects/sliderJS/*
!html/projects/sliderJS/preview.html