.DS_Store
html/.vscode/
.vscode/
.idea/
projects/

/v2/projects/jsGame/*
!/v2/projects/jsGame/preview.html

/v2/projects/phpGame/*
!/v2/projects/phpGame/preview.html

/v2/projects/quiz_manager/*
!/v2/projects/quiz_manager/preview.html

/v2/projects/sliderJS/*
!/v2/projects/sliderJS/preview.html


/html/v2/js/typings