<footer id="contact">
    <div class="footer-background">
        <h3>Contact</h3>
        <h4>Quentin Bouvier</h4>
        <a href="mailto:quentin (point) bouvier31 (at) laposte (point) net" subject="webdev.babbleprod.com">Envoyer un mail</a>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="./js/scroller.js"></script>
<script type="text/javascript" src="./js/burger.js"></script>
</body>

</html>
