<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Quentin B. portfolio</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <script type="text/javascript">
        var isScrolling = false;

    </script>
</head>

<body>
