<nav class="sticky-top">
    <div data-navbar="master" class="flex-container flex-justify-between flex-items-center">
        <div data-navbar="background" class="navbar-background"></div>
        <div data-navbar="icon" class="navbar-icon"></div>
        <ul data-navbar="container"
            class="flex-container flex-justify-left flex-items-center list-no-style navbar-container menu-burgerized">
            <li data-menu="0" class="topbar-link"><a href="javascript:void(0);">Accueil</a></li>
            <li data-menu="1" class="topbar-link"><a href="javascript:void(0);">Projets</a></li>
            <li data-menu="2" class="topbar-link"><a href="javascript:void(0);">CV</a></li>
            <li data-menu="3" class="topbar-link"><a href="javascript:void(0);">Contact</a></li>
            <li class="social-icon social-burger hidden">
                <a class="topbar-link" href="javascript:void(0);"><i class="fa fa-2x fa-twitter-square"
                        aria-hidden="true"></i></a>
                <a class="topbar-link" href="https://github.com/QuentinBouvier" target="_blank"><i
                        class="fa fa-2x fa-github" aria-hidden="true"></i></a>
                <a class="topbar-link" href="https://www.linkedin.com/in/quentin-bouvier-2449a914b/" target="_blank"><i
                        class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
            </li>
        </ul>
        <div class="flex-container flex-justify-left flex-items-center flex-separate-right social-icon social-full"
            data-navbar-social="full">
            <a class="topbar-link" href="https://github.com/QuentinBouvier" target="_blank"><i
                    class="fa fa-2x fa-github" aria-hidden="true"></i></a>
            <a class="topbar-link" href="https://www.linkedin.com/in/quentin-bouvier-2449a914b/" target="_blank"><i
                    class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
        </div>
        <div data-navbar="button" class="burger-button hidden">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </div>
</nav>