<nav class="full-width sticky-top">
    <div class="flex-container flex-justify-center flex-items-center">
        <ul class="flex-container flex-justify-left list-no-style navbar-container full-width">
            <li class="topbar-link"><a href="javascript:void(0);">Accueil</a></li>
            <li class="topbar-link"><a href="javascript:void(0);">Projets</a></li>
            <li class="topbar-link"><a href="javascript:void(0);">CV</a></li>
            <li class="topbar-link"><a href="javascript:void(0);">Contact</a></li>
            <li class="topbar-link social-icon"><a href="javascript:void(0);"><i class="fa fa-lg fa-twitter-square" aria-hidden="true"></i></a> </ul>
    </div>
</nav>
