<nav class="sticky-top">
    <div data-navbar="master" class="flex-container flex-justify-between flex-items-center">
        <div data-navbar="background" class="navbar-background"></div>
        <div data-navbar="icon" class="navbar-icon"></div>
        <ul data-navbar="container" class="flex-container flex-justify-left list-no-style navbar-container menu-burgerized">
            <li data-menu="0" class="topbar-link"><a href="javascript:void(0);">Accueil</a></li>
            <li data-menu="1" class="topbar-link"><a href="javascript:void(0);">Projets</a></li>
            <li data-menu="2" class="topbar-link"><a href="javascript:void(0);">CV</a></li>
            <li data-menu="3" class="topbar-link"><a href="javascript:void(0);">Contact</a></li>
            <li class="topbar-link social-icon"><a href="javascript:void(0);"><i class="fa fa-lg fa-twitter-square" aria-hidden="true"></i></a>
        </ul>
        <div data-navbar="button" class="burger-button hidden">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </div>
</nav>
