<footer id="contact">
    <div class="footer-background">
        <h3>Contact</h3>
        <h4>Quentin Bouvier</h4>
        <a href="mailto:quentin (point) bouvier31 (at) laposte (point) net" subject="webdev.babbleprod.com">Envoyer un mail</a>
    </div>
</footer>

<script type="text/javascript" src="./js/burger.js"></script>
<script type="text/javascript" src="./js/scroller.js"></script>
<script type="text/javascript" src="./js/slider.js"></script>
<!-- <script type="text/javascript">
    $(document).ready(function()
    {
        selectButton($($('.topbar-link')[0]));
        burgerize();
    });

</script> -->
</body>

</html>
