body
{
    margin: 0;
    padding: 0;
    background: #222 url('../images/bg.png') top left repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.game-screen
{
    background-color: #DDDDDD;
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-display
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden
{
    display: none;
}

section[data-state="optionScreen"]
{
    justify-content: center;
    align-items: center;
    text-align: center
}

section h2
{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 2.5em;
    text-align: center;
}

section h1
{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 3em;
    text-align: center;
}

section[data-state="optionScreen"] label
{
    font-family: 'Press Start 2P', sans-serif;
    font-size: .8em;
}

input[type="number"]
{
    font-size: 1.4em;
    font-weight: bold;
    background-color: black;
    color: red;
    border: 3px solid red;
    border-right-color: darkred;
    border-bottom-color: darkRed;
    height: 30px;
    width: 50px;
}

section[data-state="optionScreen"] button
{
    font-family: 'Press Start 2P', sans-serif;
    font-size: .8em;
    margin-top: 20px;
    background-color: black;
    color: lightgrey;
    border: 3px solid red;
    border-right-color: darkred;
    border-bottom-color: darkRed;
    height: 50px;
    width: 250px;
}

section[data-state="optionScreen"] button:hover
{
    color: red;
}

section[data-state="optionScreen"] button:active
{
    border-top: 6px solid darkred;
    border-left: 6px solid darkred;
    border-right: 0px;
    border-bottom: 0px;
}

.game-grid
{
    display: flex;
    flex-wrap: wrap;
}

.game-cell
{
    width: 28px;
    height: 28px;
    border: 1px solid black;
}

.controls-box
{
    width: 150px;
    height: 150px;
}

.justify-content-center
{
    display: flex;
    justify-content: center;
}

.player
{
    background: url('../images/theguy.gif') center center no-repeat;
    background-size: cover;
}

.goal
{
    background: url('../images/cherry.gif') center center no-repeat;
    background-size: cover;
}

.enemy
{
    background: url('../images/ennemy.png') center center no-repeat;
    background-size: cover;
}
